<div class="col-md-4">
  <h4>Input message:</h4>
  <%= form_for(@message, remote: true) do |f| %>
    <div class='form-group'>
      <label>Name</label>
      <div>
        <%= f.text_field :name%>
      </div>
    </div>
    <div class='form-group'>
      <label>Message</label>
      <div>
      <%= f.text_area :content, id: "message_field" %>
    </div>
    </div>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>

<div id='messageList' class="col-md-4">
  <span class="header">Messages</span>
  <span id="clear_button" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  <ul class="no-style">
    <% @messages.each do |message| %>
      <li><%= message.name %>: <%= message.content %></li>
    <% end %>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $('#clear_button').click(function(){
      var response = confirm("This will clear all the messages, are you sure?");
      if( response == true ){
        $.ajax({
          type: 'DELETE',
          url: 'messages',
          success: function(result){
            $('#messageList li').empty();
          }
        });
      }
    });
  });
</script>
